<html>
<title>{{ .title }}</title>

<body>
    <h1>
        {{ .myheader }}
    </h1>
    <ul>
        <a href="/">Home</a> | <form method="post" action="/smb/search"><input type="text" name="keyword" size="15"/><input type="submit" name="submit" value="Search file (use go regex pattern)"/><input type="hidden" name="rootdir" value="{{ .rootPath }}"/> </form>
        <hr />
        <a href="/smb/ls/{{ .updir }}">Up</a><br/><br/>
        {{ range $idx, $fi := .finfo }}
        {{ if $fi.IsDir }}
        <li>Directory <a href="/smb/ls/{{ $.rootPath }}/{{ $fi.Name }}/">{{ $fi.Name }}</a></li>
        {{ end }}
        {{ end }}
        {{ range $idx, $fi := .finfo }}
        {{ if not $fi.IsDir }}
        <li>File <a href="/smb/get?path={{ $.rootPath }}/{{ $fi.Name }}">{{ $fi.Name }} | {{ $fi.Size }} bytes | </a>&nbsp <a
                href="/smb/get?path={{ $.rootPath }}/{{ $fi.Name }}&action=view">view</a></li>
        {{ end }}
        {{ end }}
        <br/><br/>
        <hr />
        <a href="/">Home</a></p>
    </ul>

</body>

</html>
